/*
 * Natural Voice SDK
 * Natural Voice SDKs are easiest and best supported way for most developers to quickly build and iterate Natural Voice applications that integrate with our services programmatically.
 *
 * OpenAPI spec version: 1.2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.TextDocumentResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TextApi {
    private ApiClient apiClient;

    public TextApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TextApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for insightsTextGet
     * @param audioId (optional) String, the audioId, returned by Upload Audio API, query parameter start and end will be ignored if audioId is presented. (optional)
     * @param start (optional) UTC start time in millisecond, must not include audioId. (optional)
     * @param end (optional) UTC end time in millisecond, must not include audioId. (optional)
     * @param page (optional) For paginated results the page of the desired results. (optional)
     * @param count (optional) For paginated results the count per page of results. (optional)
     * @param skipMetadata (optional) To improve performace by skipping couchbase queries set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @param trends (optional) Get trend data appended to the results set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call insightsTextGetCall(String audioId, Long start, Long end, Long page, Long count, String skipMetadata, String trends, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/insights/text";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (audioId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "audioId", audioId));
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "start", start));
        if (end != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "end", end));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "count", count));
        if (skipMetadata != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "skipMetadata", skipMetadata));
        if (trends != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "trends", trends));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call insightsTextGetValidateBeforeCall(String audioId, Long start, Long end, Long page, Long count, String skipMetadata, String trends, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = insightsTextGetCall(audioId, start, end, page, count, skipMetadata, trends, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieve text for audio uploaded by your application
     * Use this API to retrieve transcripts for audio uploaded by your application. The response includes speech recognition confidence values and sentiment values if there are NLP results. This is a GET operation. Optionally can provide a start and end date range to retrieve the response for a document corpus that have NLP results.
     * @param audioId (optional) String, the audioId, returned by Upload Audio API, query parameter start and end will be ignored if audioId is presented. (optional)
     * @param start (optional) UTC start time in millisecond, must not include audioId. (optional)
     * @param end (optional) UTC end time in millisecond, must not include audioId. (optional)
     * @param page (optional) For paginated results the page of the desired results. (optional)
     * @param count (optional) For paginated results the count per page of results. (optional)
     * @param skipMetadata (optional) To improve performace by skipping couchbase queries set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @param trends (optional) Get trend data appended to the results set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @return TextDocumentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TextDocumentResponse insightsTextGet(String audioId, Long start, Long end, Long page, Long count, String skipMetadata, String trends) throws ApiException {
        ApiResponse<TextDocumentResponse> resp = insightsTextGetWithHttpInfo(audioId, start, end, page, count, skipMetadata, trends);
        return resp.getData();
    }

    /**
     * Retrieve text for audio uploaded by your application
     * Use this API to retrieve transcripts for audio uploaded by your application. The response includes speech recognition confidence values and sentiment values if there are NLP results. This is a GET operation. Optionally can provide a start and end date range to retrieve the response for a document corpus that have NLP results.
     * @param audioId (optional) String, the audioId, returned by Upload Audio API, query parameter start and end will be ignored if audioId is presented. (optional)
     * @param start (optional) UTC start time in millisecond, must not include audioId. (optional)
     * @param end (optional) UTC end time in millisecond, must not include audioId. (optional)
     * @param page (optional) For paginated results the page of the desired results. (optional)
     * @param count (optional) For paginated results the count per page of results. (optional)
     * @param skipMetadata (optional) To improve performace by skipping couchbase queries set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @param trends (optional) Get trend data appended to the results set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @return ApiResponse&lt;TextDocumentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TextDocumentResponse> insightsTextGetWithHttpInfo(String audioId, Long start, Long end, Long page, Long count, String skipMetadata, String trends) throws ApiException {
        com.squareup.okhttp.Call call = insightsTextGetValidateBeforeCall(audioId, start, end, page, count, skipMetadata, trends, null, null);
        Type localVarReturnType = new TypeToken<TextDocumentResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve text for audio uploaded by your application (asynchronously)
     * Use this API to retrieve transcripts for audio uploaded by your application. The response includes speech recognition confidence values and sentiment values if there are NLP results. This is a GET operation. Optionally can provide a start and end date range to retrieve the response for a document corpus that have NLP results.
     * @param audioId (optional) String, the audioId, returned by Upload Audio API, query parameter start and end will be ignored if audioId is presented. (optional)
     * @param start (optional) UTC start time in millisecond, must not include audioId. (optional)
     * @param end (optional) UTC end time in millisecond, must not include audioId. (optional)
     * @param page (optional) For paginated results the page of the desired results. (optional)
     * @param count (optional) For paginated results the count per page of results. (optional)
     * @param skipMetadata (optional) To improve performace by skipping couchbase queries set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @param trends (optional) Get trend data appended to the results set this parameter to \&quot;true\&quot; (not case sensitive) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call insightsTextGetAsync(String audioId, Long start, Long end, Long page, Long count, String skipMetadata, String trends, final ApiCallback<TextDocumentResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = insightsTextGetValidateBeforeCall(audioId, start, end, page, count, skipMetadata, trends, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TextDocumentResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
